.titulo{
	font-size:3rem;
	color:#333;
	text-align: left;
}
.cadastrar{
	font-size:2rem;
	color:#333;
	text-align: left;
}
.espaco{
	size:5rem
}
#bottom{
	color:white;
	padding-bottom: 15px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 15px;
	background-color: green;
}
