.body {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    left: 50%;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
}

.container {
    width: 100%;
    display: block;
    margin-top: 100px;
}

.form {
    width: 350px;
    text-align: center;
    background-color: #a24441;
    border-radius: 8px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 40px 30px 40px 30px;
    box-shadow: 3px 3px 5px rgb(41, 41, 41);
}

img#usericon {
    align-items: center;
    width: 20%;
}

.titulo {
    font-size: 30px;
    padding: 0;
    margin: 10px;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
    color: #e3e3e3;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 2px #414141;
}

/*Especificação Geral dos Campos Input*/
.campos input {
    width: 350px;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #414141;
    margin-bottom: 5px;
    margin-top: 5px;

}
/*
input#username {
  margin-bottom: 5px;
}

input#senha {
    margin-top: 5px;
}*/

.label {
    text-decoration: none;
    font-size: 20px;
}

.info {
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
}

#sexo {
    font-size: 20px;
    padding: 0;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    color: #e3e3e3;
    font-family: 'Montserrat', sans-serif;
}

#box {
    padding-left: 5px;
}

#forgot {
    padding-left: 30px;
}

a {
    text-decoration: none;
    color: white;
}

#register {
    font-size: 15px;
}

.button {
    color: #a24441;
    width: 300px;
    height: 40px;
    padding: auto;
    border: none;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 25px;
    opacity: 1;
    margin-top: 10px;
}

.button:hover {
    opacity: 0.8;
    transition: 400ms;
    background-color: darkorange;
}

.button:oncli

