.body {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    left: 50%;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
}

.form {
    background-color: #c2824d;
    font-size: 30px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px 50px 30px 50px;

}

.login {
    color: #E6E3E3;
    font-family: 'Montserrat', sans-serif;
}

.form h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
}

input#username {
    width: 300px;
    height: 30px;
    padding: 5px;
    border-color: #dddddd;
    border-radius: 5px;
}

input#senha {
    width: 300px;
    height: 30px;
    padding: 5px;
    border-color: #dddddd;
    border-radius: 5px
}

.label {
    font-size: 20px;
}

#info{
    font-size: 15px;
}

